<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--<!DOCTYPE html>-->
<!--<html>-->

<head>
</head>
<!-- <div class="container">
            <nav>
                <a routerLink="/form-country">Form Country</a> --
                <a routerLink="/form-compare-country">Compare Countries</a>--
                <a routerLink="/form-publishing">Publishing</a>--
                <a routerLink="/form-improvements">improvements</a>
            </nav><br>
            
        </div> -->


<body>
      <div class="publication">
            <app-menu></app-menu>
            <h2>Contry view data</h2>
            <form #formcountry="ngForm" (ngSubmit)="onSubmit()" appformcountry>

                  <div>
                        <label>Select Contry *</label><br>
                        <select name="contry" #name="ngModel" [(ngModel)]="CountryObj.$contry" type="text">
                              <option *ngFor="let pais of paises">
                                    {{ pais.name }}
                              </option>
                        </select>
                  </div>
                  <div>
                        <label>Select date:</label><br>
                        <input type="date" name="date" #name="ngModel" [(ngModel)]="CountryObj.$date" required>
                  </div>


                  <div>
                        <label>Introduce la cepa: *</label><br>
                        <select name="sequence_type" #name="ngModel" [(ngModel)]="CountryObj.$cepa" type="text">
                              <option *ngFor="let cepa of cepas">
                                    {{ cepa.name }}
                              </option>
                        </select>
                  </div>


                  <div>
                        <button type="submit">Submit</button>
                  </div>
                  <div>
                        <button type="text" (click)=killCookie()>Delete cookie</button>
                  </div>
            </form>
      </div>

</body>

</html>