<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--<!DOCTYPE html>-->
<!--<html>-->

<head>
</head>
<!-- <div class="container">
            <nav>
                <a routerLink="/form-country">Form Country</a> --
                <a routerLink="/form-compare-country">Compare Countries</a>--
                <a routerLink="/form-publishing">Publishing</a>--
                <a routerLink="/form-improvements">improvements</a>
            </nav><br>
            
        </div> -->
<app-menu></app-menu>

<body>

      <div class="publication">
            <form action="" method="post">
                  <h1>Contry view data</h1>
                  <div>
                        <label>Select Contry *</label><br>
                        <select name="contry">
                              <option *ngFor="let pais of paises">
                                    {{ pais.name }}
                              </option>
                        </select>
                  </div>
                  <div>
                        <label>Selecciona la fecha a comprobar:</label><br>
                        <input id="date" type="date">
                  </div>


                  <div>

                        <label>Introduce la cepa: *</label><br>
                        <select name="sequence_type">
                              <option *ngFor="let cepa of cepas">
                                    {{ cepa.name }}
                              </option>
                        </select>
                  </div>


                  <div>
                        <input type="submit" name="form_submit" value="INSERT data" />
                  </div>

            </form>
      </div>
      
</body>

</html>