<nav>
    <a class="link" routerLink="/form-country">Form Country</a>
    <a class="link" routerLink="/form-country-paged">form country paged</a>
    <a class="link" routerLink="/form-improvements">improvements</a>
    <a class="link" routerLink="/form-compare-country">Compare Countries</a>
    <a class="link" routerLink="/vaccination-progress">vaccination progress</a>
    <a class="link" routerLink="/form-publishing">Publishing</a>
    <a class="link" routerLink="/journal-search">Journals</a>
</nav><br>