<!--
    This form was made by @Darryl
    It ask for 2 countries to be compared and the type of strain, cases and date
-->

<body>

<div class ="publication">
    <app-menu></app-menu>
    <h2>Compare country by date and strain</h2>
   
    <form #compareCountryForm="ngForm" (ngSubmit)="sendForm()" appCompareCountries >
        <div>
            <label class="notice">Select first country (*) </label>
            <select required name="firstCountry" #strain ="ngModel" [(ngModel)]="objCompareCountries.$firstCountry" >
                <option *ngFor="let country of Countries" [value]="country.name"> 
                    {{country.name}}
                </option>
            </select>
        </div>
        
        <div>
            <label class="notice">Select strain (*) </label>
            <select required name="secondCountry" #strain ="ngModel" [(ngModel)]="objCompareCountries.$secondCountry" >
                <option *ngFor="let country of Countries" [value]="country.name"> 
                    {{country.name}}
                </option>
            </select>
        </div>
        

        <div>
            <label class="notice">Select strain (*) </label>
            <select required name="strain" #strain ="ngModel" [(ngModel)]="objCompareCountries.$strain" >
                <option *ngFor="let strain of variants" [value]="strain.name"> 
                    {{strain.name}}
                </option>
            </select>
        </div>

        <div>
            <label class="notice">Select type of cases (*) </label>
            <select required name="type" #searchType ="ngModel" [(ngModel)]="objCompareCountries.$searchType">
                <option *ngFor="let type of typeOfCases" [value]="type.type"> 
                    {{type.type }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="searchDate">Dates (*)</label>
            <input id="searchDate" name="searchDate" [(ngModel)]="objCompareCountries.$date"
                    type="text" bsDaterangepicker [bsConfig]="datePickerConfig" class="form-control" required/>
          </div>
        <div class="low-letter">
            <p>(*)Mandatory</p>
        </div>
      
        <div>
            <button type="submit" [disabled] = "!compareCountryForm.valid" >Submit</button>
        </div>
        
    </form>

    <input class="btn btn-primary" type="button" onclick="location.href='manage-compare-country';" value="View all entries"/>


</div>
</body>