<!-- <div class="container">
    <nav>
        <a routerLink="/form-country">Form Country</a> 
        <a routerLink="/form-compare-country">Compare Countries</a>
        <a routerLink="/form-publishing">Publishing</a>
    </nav><br>
</div>

<p>compare-country works! yeah</p>
</div> -->
<app-menu></app-menu>
<p>compare-country works!</p>
<div>
<mat-select-country appearance="outline" 
                    label="Country"
                    [formControl]="countryFormControl"
                    (onCountrySelected)="onCountrySelected($event)">
</mat-select-country>
<mat-select-country appearance="outline" 
                    label="Country"
                    [formControl]="countryFormControl"
                    (onCountrySelected)="onCountrySelected2($event)">
</mat-select-country>

</div>
