<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing</title>
</head>
<body>
    <h2>Search for a publication</h2>
    <form #userForm="ngForm" action="" (ngSubmit) = "onSubmit()"> 
        <label>Journal *</label>
        <select required ngModel name="journal"
         name="name">
            <option *ngFor="let journal of Journals"> 
                {{ journal }}
            </option>
        </select>
        <label>Key words (*) </label>
        <input placeholder="Separated by coma..." ngModel name="keywords" />
        <label>Investigation field (*) </label>
        <input placeholder="Separated by coma..." ngModel name="field"/>
        <label>Autor (*) </label>
        <input type="text" placeholder="Name or Surname..." ngModel name="name" />
        <p>Just one of the fields with (*) is mandatory</p>
        <button type="submit" (click) = "newSearch(userForm.value)">Submit</button>
    </form>


</body>
</html>
