<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing</title>
</head>
<app-menu></app-menu>
<body>
    <div class="publication">
        <h2>Search for a publication</h2>
        <form #loginForm="ngForm" action="" (ngSubmit)="onSubmit()" >
            <div>
                <label>Journal (*)</label>
                <select required name="journal" #journal = "ngModel" [(ngModel)]="objSearch.$id"
                [ngClass]="{'correct' : journal.dirty && (journal.model >= 0 && journal.model <= 4),
                            'wrong' :  journal.dirty && journal.errors?.required}" >
                    <option *ngFor="let journal of Journals" [value]="journal.id"> 
                        {{ journal.name }}
                    </option>
                </select>
            </div>

            <div>
                <label class="notice">Key words (*) </label>
                <input id="kw" placeholder="Separated by coma..." 
                required name="keywords" #keywords = "ngModel" 
                [(ngModel)]="objSearch.$keyWords" 
                (change)="changeInput($event)"
                [ngClass]="{'correct' : keywords.dirty && statusArray == false,
                            'wrong' : keywords.dirty && statusArray == true }"
                />
                <p *ngIf="keywords.dirty && statusArray == true">
                    Entry words separated by space
                </p>
            </div>

            <div>
                <label class="notice">Investigation field (*) </label>
                <input placeholder="Field here..." 
                required name="field" #field = "ngModel"  
                [(ngModel)]="objSearch.$field"
                (change)="changeInputInvestigation($event)"
                [ngClass] = "{ 'wrong' : field.dirty && fields.indexOf(field.model) != 0,
                               'correct' : field.dirty && fields.indexOf(field.model) !== -1 }"

                />
                <div class="low-letter">
                    <label>Available fields (Just one of them): {{ fields }} </label>
                </div>
            </div>
            
            <div>
                <label class="notice" >Autor (*) </label>
                <input id="author" placeholder="Name or Surname..."
                required name="author" #author = "ngModel" 
                [(ngModel)]="objSearch.$author"
                appCheckInputArray
                [ngClass]="{ 'correct' : author.dirty && !author.errors?.isNotCorrect,
                             'wrong' : author.dirty && author.errors?.isNotCorrect }"

                type="text" />

                <p *ngIf="author.dirty && author.errors?.isNotCorrect">
                    Author name too long
                </p>
            </div>

            <div class="low-letter">
                <p>(*)Mandatory</p>
            </div>
            <div>
                <button type="submit" [disabled] = "!loginForm.valid || !globalStatus" >Submit</button>
            </div>
        </form>
    </div>

</body>
</html>
