<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing</title>
</head>
<app-menu></app-menu>
<body>
    <div class="content">
        <h2>Search for a publication</h2>
        <form #loginForm="ngForm" action="" (ngSubmit)="onSubmit()" >
            <div>
                <label>Journal (*)</label>
                <select required name="journal" #journal = "ngModel" [(ngModel)]="objSearch.$journal"
                [ngClass]="{'correct' : journal.dirty || cookieObj,
                            'wrong' :  journal.dirty && journal.errors?.required}" >
                    <option *ngFor="let journal of Journals" [value]="journal.name"> 
                        {{ journal.name }}
                    </option>
                </select>
            </div>

            <div>
                <label class="notice">Key words (*) </label>
                <input id="kw" placeholder="Separated by coma..." 
                required name="keywords" #keywords = "ngModel" 
                [(ngModel)]="objSearch.$keyWords" 
                (change)="changeInput($event)"
                [ngClass]="{'correct' : (cookieObj && statusArray == false && keywords.value != '') || (statusArray == false && keywords.value ),
                            'wrong' : (keywords.dirty && statusArray == true) || keywords.value == ''
                         }"
                />
                <p *ngIf="keywords.dirty && statusArray == true">
                    Entry words separated by space
                </p>
            </div>

            <div>
                <label class="notice">Investigation field (*) </label>
                <input placeholder="Field here..." 
                required name="field" #field = "ngModel"  
                [(ngModel)]="objSearch.$field"
                (change)="changeInputInvestigation($event)"
                [ngClass] = "{ 'wrong' : field.dirty && fields.indexOf(field.model) == -1,
                               'correct' : (field.pristine && cookieObj) || field.dirty && fields.indexOf(field.model) != -1 }"

                />
                <div class="low-letter">
                    <label>Available fields (Just one of them): {{ fields }} </label>
                </div>
            </div>
            
            <div>
                <label class="notice" >Autor (*) </label>
                <input id="author" placeholder="Name or Surname..."
                required name="author" #author = "ngModel" 
                [(ngModel)]="objSearch.$author"
                appCheckInputArray
                [ngClass]="{ 'correct' : (author.pristine && cookieObj) || author.dirty && !author.errors?.isNotCorrect,
                             'wrong' : author.dirty && author.errors?.isNotCorrect }"

                type="text" />

                <p *ngIf="author.dirty && author.errors?.isNotCorrect">
                    Author name too long
                </p>
            </div>

            <div class="low-letter">
                <p>(*)Mandatory</p>
            </div>
            <div>
                <button type="submit" [disabled] = "!loginForm.valid || !globalStatus">Submit</button>
            </div>
        </form>
        <div id="allPublication">
            <button type="text" (click)=allPublication($event)>See all publications</button>
            <button type="text" (click)=killCookie()>Delete cookie</button>
        </div>
    </div>

    <div class="content">

        <h2>Filter by the following fields</h2>

        <div class="filter">
            
            <div>
                <label>Journal Name</label>
                <select name="journalF" #journal = "ngModel" [(ngModel)]="journalFilter" (ngModelChange)="filter()">
                    <option *ngFor="let journal of Journals" [value]="journal.name"> 
                        {{ journal.name }}
                    </option>
                </select>
            </div>

            <div>
                <label>Investigation Field</label>
                <select name="fieldF" #field = "ngModel" [(ngModel)]="fieldFilter" (ngModelChange)="filter()">
                    <option *ngFor="let field of fields" [value]="field"> 
                        {{ field }}
                    </option>
                </select>
            </div>

            <div>
                <label>Author</label>
                <input type="text" placeholder="Author name here..."
                name="authorF" #author = "ngModel" [(ngModel)]="authorFilter" (ngModelChange)="filter()"
                >
            </div>

            <div>
                <label>Journal Price</label>
                <input type="range" min="0" 
                    max="90" [(ngModel)]="priceFilter"
                    name="priceF" (ngModelChange)="filter()"> 
                    <b>{{ priceFilter|currency:'EUR' }}</b>
            </div>

            <div>
                <label>Distribution</label>
                <input type="text" placeholder="Type of distribution..."
                name="distributionF" #distribution = "ngModel" [(ngModel)]="distributionFilter" (ngModelChange)="filter()"
                >
            </div>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Journal name</th>
                    <th>Search field</th>
                    <th>Author</th>
                    <th>Journal Price</th>
                    <th>Distribution</th>
                    <th>Publication Title</th>
                    <th>Delete</th>
                    <th>Go to</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rv of searchFiltered |
                paginate: {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage
                }">
                    <td>{{ rv.$journal }}</td>
                    <td>{{ rv.$field }}</td>
                    <td>{{ rv.$author }}</td>
                    <td>{{ rv.$price }}</td>
                    <td>{{ rv.$distribution }}</td>
                    <td>{{ rv.$publicationTitle }}</td>
                    <td>
                        <button class="btn btn-danger"
                        (click)="removeRes(rv)">
                            X</button>
                    </td>
                    <td>
                        <button class="btn btn-primary"
                        (click)="onClick(rv)">
                            Go to
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="8">
                        <pagination-controls 
                            class="custom-pagination"
                            (pageChange)="currentPage=$event"
                            [maxSize]=8
                            [directionLinks]="true"
                            [autoHide]="true"
                            [responsive]="true"
                            previousLabel="Prev" 
                            nextLabel="Next" 
                            >
                        </pagination-controls>
                    </td>
                </tr>
            </tbody>
            
        </table>
        

    </div>

</body>
</html>
