form{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 50px;
}

.publication {
    display: flex;
    flex-direction: column;
    background-color: #32b6af;
    border-radius: 10px;
    padding: 50px;
}

.publication > * {
    display: flex;
    align-content: center;
    align-items: center;
}

label,select,input,button {
    width: 300px;
    margin: 5px 0 5px 0;
    padding: 10px 5px 10px 5px;
}

form p{
    font-size: 12px;
}

form input, form select{
    outline: none;
    border: none;
    background-color: white;
    border-radius: 4px;
    color: black;
}

form input::placeholder{
    color: rgb(80, 80, 80);
}

.wrong{
    background-color: #dc3232 !important;
}

.correct{
    background-color: #85dcb8 !important;
}

.base{
    background-color: lightgrey !important;
}

.low-letter{
    font-size: 12px;
}
