<!--
     /**
   * Date: 03/11/2021
   * Version: 1.2
   * Author: Darryl.
   * 
   * 
   * This is the HTML form for the vaccination management system.
   */

-->


<div class="container well">
    <!-- First div will contain filters and 
        pagination params -->
    <form #compareCountryFilterForm="ngForm" novalidate>
        <table class="table table-striped">
            <tr>
                <td>Filter country name</td>
                <td>
                    <input type="text" [(ngModel)]="countryFilter"
                    name="countryFilter" (ngModelChange)="filter()">
                </td>
            </tr>
            <tr>
                 
                 <td>
                 Select strain (*) 
                 </td>
                <td>
                <select required name="strain" #strain ="ngModel" [(ngModel)]="strainFiltered" (ngModelChange)="filter()" >
                <option *ngFor="let strain of variants" [value]="strain.name"> 
                    {{strain.name}}
                </option>
                </select>
                </td>
                
        
            </tr>
            <tr>
                <td>
                    Current Page
                </td>
                <td>
                    {{currentPage}}
                </td>
            </tr>
            <tr>
                <td>Results per page</td>
                <td>
                    <input type="number" 
                    [(ngModel)]="itemsPerPage"
                    name="itemsPerPage">
                </td>
            </tr>
            <tr>
                <td>Reservations found</td>
                <td>{{searchVaccinesFiltered.length}}</td>
            </tr>

        </table>
    </form>
</div>
<div>
    <!-- Second div will contain an error message
    in case no records are found.
    It will be shown according to a boolean
    in a *ngIf clause -->
</div>
<div class="container well">
    <!-- Div 3 will be shown in case there are records
    to display -->
    <form #vaccinationManagementForm="ngForm" novalidate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>AstraZeneca</th>
                    <th>SpunkV</th>
                    <th>Pfizer</th>
                    <th>Moderna</th>
                    <th>Sinovac</th>
                    <th>Eliminate reservation</th>
                    <th>Go to</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cc of
                 searchVaccinesFiltered | 
                 paginate: {
                     itemsPerPage: itemsPerPage,
                     currentPage: currentPage
                 }"
                 >
                    <td>{{cc.country}}</td>
                    <td><input type="checkbox" [checked] = "cc.vaccine.subtasks[0].completed"   ></td>
                    <td>
                    <input type="checkbox" [checked] = "cc.vaccine.subtasks[1].completed"   >
                    </td>
                    <td><input type="checkbox" [checked] = "cc.vaccine.subtasks[2].completed"  ></td>
                    <td>
                    <input type="checkbox" [checked] = "cc.vaccine.subtasks[3].completed"   >
                    </td>
                    <td><input type="checkbox" [checked] = "cc.vaccine.subtasks[4].completed"  ></td>
                    
  
                    <td>
                        <button class="btn btn-danger"
                        (click)="removeRes(cc)">
                            X</button>
                    </td>
                    <td>
                        <button class="btn btn-primary"
                        (click)="onClick(cc)">
                            Go to
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage=$event"
            maxSize="5"
            directionLinks="true"
            autoHide="true">
        </pagination-controls>
    </form>
</div>

<app-vaccination-progress *ngIf="searchVaccinesSelected"

[vacinnesProgress]="searchVaccinesSelected">
</app-vaccination-progress>