<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing</title>
</head>
<!-- <div class="container">
    <nav>
        <a routerLink="/form-country">Form Country</a> --
        <a routerLink="/form-compare-country">Compare Countries</a>--
        <a routerLink="/form-publishing">Publishing</a>
    </nav><br>
</div> -->
<app-menu></app-menu>
<body>
    <div class="publication">
        <h2>Search for a journal</h2>
        <form #loginForm="ngForm" action="" (ngSubmit) = "onSubmit()">
            <div>
                <label class="notice">Name (*) </label>
                <input required placeholder="Journal name..." name="journalName" #journalName = "ngModel"
                type="text" [(ngModel)]="objJournal.$nameJournal"
                (keyup) = "changeJournal($event)"
                [ngClass]="{ 'correct' :journalName.dirty && statusName == true,
                            'wrong' :journalName.dirty && statusName == false }"
                />
            </div>

            
            <div>
                <label class="notice">Publication country (*) </label>
                <select required name="country" #country = "ngModel" [(ngModel)]="objJournal.$country"
                [ngClass]="{'correct' : country.dirty,
                            'wrong' :  country.dirty && country.errors?.required}" >
                
                    <option *ngFor="let country of Countries" [value]="country.name"> 
                        {{ country.name }}
                    </option>
                </select>
            </div>
            <div>
                <label class="notice">Lenguage required (*) </label>
                <select required name="language" #language = "ngModel" [(ngModel)]="objJournal.$language"
                [ngClass]="{'correct' : language.dirty,
                            'wrong' :  language.dirty && language.errors?.required}" >
                    <option *ngFor="let language of Languages" [value]="language.name"> 
                        {{ language.name }}
                    </option>
                </select>
            </div>

            <div>
                <label>Translated (*)</label><br>
                <div class="radios">
                    <input type="radio" name="trans" value="Yes" (change)="onItemChange($event)"><label>Yes</label>
                    <input type="radio" name="trans" value="No" (change)="onItemChange($event)"><label>No</label>
                </div><br>
            </div>
            <div *ngIf="status">
                <label class="notice"> To which language?</label>
                <select required name="translation" #translation = "ngModel" [(ngModel)]="objJournal.$translation"
                [ngClass]="{'correct' : translation.dirty && objJournal.$translation != objJournal.$language,
                            'wrong' :  translation.dirty && objJournal.$translation == objJournal.$language }" >
                    <option *ngFor="let language of Languages" [value]="language.name"> 
                        {{ language.name }}
                    </option>
                </select>
                <p *ngIf="translation.dirty && objJournal.$translation == objJournal.$language">
                    Cannot translate to the same language!
                </p>
            </div>
            
            <div>
                <label class="notice" >Field (*) </label>
                <input required placeholder="Name or Surname..."  
                name="field" #field = "ngModel" [(ngModel)]="objJournal.$field" type="text" appCheckInputArray 
                [ngClass]="{'correct' : field.dirty && !field.errors?.isNotCorrect,
                            'wrong' :  field.dirty &&  field.errors?.isNotCorrect}" />

                <p *ngIf="field.errors?.isNotCorrect">
                    Investigation field too long
                </p>
            </div>
            <div class="low-letter">
                <p>(*)Mandatory</p>
            </div>
            <div>
                <button type="submit" [disabled] = "!loginForm.valid" >Submit</button>
            </div>
            
        </form>
    </div>

</body>
</html>
