/* You can add global styles to this file, and also import other style files */
body{
    /*display: flex;
    min-height: 100%;
    align-content: center;
    align-items: center;*/
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9cdbe4;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}