<body>
    <div class="div-container">
    <div class="flip-card">
        <div class="flip-card-inner effect">
            <div class="flip-card-front">
                <h2>Luis</h2>
            </div>
            <a routerLink="/form-country">
                <div class="flip-card-back">
                    <h1>Form Description</h1>
                    <p>This form was made by Luis</p>
                </div>
            </a>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner effect">
            <div class="flip-card-front">
                <h2>Darryl</h2>
            </div>
            <a routerLink="/form-compare-country">
                <div class="flip-card-back">
                    <h1>Form Description</h1>
                    <p>This form was made by Darryl</p>
            </div>
            </a>
        </div>
    </div>

    <div id="author">
        <h1>Isma</h1>
        <div class="flip-card">
            <div class="flip-card-inner effect">
                <div class="flip-card-front">
                    <h2> PUBLICATIONS</h2>
                </div>
                <a routerLink="/form-publishing">
                    <div class="flip-card-back">
                        <h1>Publishing form</h1>
                        <p>This form was made by Ismael</p>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="flip-card">
            <div class="flip-card-inner effect">
                <div class="flip-card-front">
                    <h2>JOURNALS</h2>
                </div>
                <a routerLink="/journal-search">
                    <div class="flip-card-back">
                        <h1>Journals form</h1>
                        <p>This form was made by Ismael</p>
                    </div>
                </a>
            </div> 
        </div>

    </div>

</div>
</body>