<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--<!DOCTYPE html>-->
<!--<html>--> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Improvements</title>
</head>
<!-- <div class="container">
    <nav>
        <a routerLink="/form-country">Form Country</a> --
        <a routerLink="/form-compare-country">Compare Countries</a>--
        <a routerLink="/form-publishing">Publishing</a> --
        <a routerLink="/form-improvements">improvements</a>
        
    </nav><br>

</div>

</div> -->
<app-menu></app-menu>
<body>
    
    <div class="publication">
        <h2>Improvements</h2>
        <form action="">
            <div>
                <label>Name *</label>
        <input required name="name" #name="ngModel" [(ngModel)]="improvObj.name" type="text" /><br>
            </div>
            <div>
                <label>Location (*) </label><br>
                <input placeholder="Location..." required name="location" #location="ngModel" [(ngModel)]="improvObj.location"
                    type="text" /><br>
            </div>


            <div>
                
            <label > Evaluation of the page </label><br>
                <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                    Checkbox is <span *ngIf="marked">checked</span><span *ngIf="!marked">unchecked</span>
                
                  <span class="checkmark"></span>
               
                  
                  <div>And <b>ngModel</b> also works, it's value is {{theCheckbox}}</div>
                  <br>       
            </div>
            <div>
                <label>Recomended this page?</label><br>
                <div >
                    <input type="radio" name="val" #val="ngModel" [(ngModel)]="improvObj.evaluation" value="Yes" (change)="onItemChange($event)"><label>Yes</label>
                    <input type="radio"name="val" #val="ngModel" [(ngModel)]="improvObj.evaluation" value="No" (change)="onItemChange($event)"><label>No</label>
                </div><br>
            </div>
           
            <div>
                <button type="submit">Submit</button>
            </div>
            
        </form>
    </div>


</body>

</html>